<ion-app>
  <ion-header class="ion-no-border">
    <ion-toolbar color="primary">
      <ion-buttons slot="start">
        <ion-back-button text="" icon="arrow-back" defaultHref="home"></ion-back-button>
      </ion-buttons>

      <ion-label>
        <h3>Zone de recherche</h3>
        <p>
          Classification des restaurants
        </p>
      </ion-label>

      <ion-buttons slot="end">
        <ion-button>
          <ion-icon style="font-size: 14pt;" slot="icon-only" name="compass"></ion-icon>
        </ion-button>

        <ion-button>
          <ion-icon style="font-size: 14pt;" slot="icon-only" name="ellipsis-vertical"></ion-icon>
        </ion-button>
      </ion-buttons>
    </ion-toolbar>
  </ion-header>

  <ion-content class="ion-padding-start ion-padding-end">
    <ion-refresher color="primary" slot="fixed" (ionRefresh)="doRefresh($event)">
      <ion-refresher-content pullingIcon="arrow-dropdown" refreshingSpinner="crescent">
      </ion-refresher-content>
    </ion-refresher>

    <ion-list>
      <ion-item>
        <ion-label position="floating">Ville</ion-label>
        <ion-input color="primary" type="text"></ion-input>
      </ion-item>

      <ion-item>
        <ion-label position="floating">Zone</ion-label>
        <ion-input color="primary" type="text"></ion-input>
      </ion-item>
    </ion-list>

    <ion-list class="ion-margin-top ion-margin-bottom">
      <ion-item button lines="none" class="ion-no-margin ion-no-padding">
        <ion-icon color="primary" slot="start" name="timer"></ion-icon>
        <ion-label color="secondary">Awesome Label</ion-label>
      </ion-item>

      <ion-item button lines="none" class="ion-no-margin ion-no-padding">
        <ion-icon color="primary" slot="start" name="timer"></ion-icon>
        <ion-label color="secondary">Awesome Label</ion-label>
      </ion-item>
    </ion-list>
  </ion-content>

  <ion-footer class="ion-no-border ion-no-margin ion-no-padding">
    <ion-row>
      <ion-col>
        <ion-button [routerLink]="['/home']" routerLinkActive="router-link-active" color="primary" expand="block"
          fill="solid" mode="ios" [disabled]="false">
          Utiliser cette position
        </ion-button>
      </ion-col>
    </ion-row>
  </ion-footer>
</ion-app>