ion-app > ion-header > ion-toolbar > ion-label > h3 {
    font-size: 12pt;
    font-weight: 500;
    letter-spacing: 0.4px;
}
ion-app > ion-header > ion-toolbar > ion-label > p {
    font-size: 10pt;
    color: #efefef;
    letter-spacing: 0.6px;
}

ion-card-content {
    margin: 0px;
    padding: 0px;
}
ion-card {
    padding: 0px;
    box-shadow: none;
}

ion-app > ion-content > ion-label {
    font-size: 12pt;
    font-weight: 600;
}
ion-app > ion-content > p {
    font-size: 10pt;
    font-weight: 500;
    margin-left: 16px;
    margin-right: 16px;
    color: var(--ion-color-secondary);
    letter-spacing: 0.5px;
}
