<ion-app>
  <ion-header class="ion-no-border">
    <ion-toolbar color="primary">
      <ion-buttons slot="start">
        <ion-back-button text="" icon="arrow-back" defaultHref="home"></ion-back-button>
      </ion-buttons>

      <ion-label>
        <h3>Les points sur Ritual</h3>
        <p>
          Gagné des points
        </p>
      </ion-label>
    </ion-toolbar>
  </ion-header>

  <ion-content>
    <ion-card button mode="ios">
      <ion-card-content>
        <ion-img src="../../../assets/img01.png"></ion-img>
      </ion-card-content>
    </ion-card>

    <ion-label class="ion-margin-start" color="primary">COMMENT GAGNE DES POINTS ?</ion-label>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Minus laudantium beatae quae itaque
      fuga? Animi eos
      sapiente ab nihil iure accusantium quas velit, omnis dignissimos consectetur nobis ad quia quaerat?</p>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Minus laudantium beatae quae itaque
      fuga? Animi eos
      sapiente ab nihil iure accusantium quas velit, omnis dignissimos consectetur nobis ad quia quaerat?</p>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Minus laudantium beatae quae itaque
      fuga? Animi eos
      sapiente ab nihil iure accusantium quas velit, omnis dignissimos consectetur nobis ad quia quaerat?</p>
  </ion-content>
</ion-app>